# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
backend/venv/
venv/
.venv/

# ==========================
# Environment Variables
# ==========================
backend/.env
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Database
# ==========================
*.db
*.sqlite3

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db